$mainColour: #7777bb;

.intro-component{
    padding: 20px;
    background: $mainColour;
    color: #fff;
    font-family: arial;

    h1{
        text-transform: uppercase;
    }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

form
{
  padding-left: 10px;
  padding-right: 10px;
}

#changeName
{
  padding-left: 0px;
}


.header{
  height: 50px;
  padding-top: -15px;
  background-color: blue;
  color: white;
  h4{
    padding-left: 17px ;
    padding-top: 17px;
  }
}

body 
{
  margin: 0px;
  margin-top: -10px;
  background-color: #404040;
}

.leftDiv{
  width: 10%;
  height: 100%;
  display: inline-block;
  background-color: black;
 
}

.rightDiv{
  width: 90%;
  height: 1270px;
  display: inline-block;
  background-color: #E0E0E0;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.hotel{
  margin-top: 20px;
  background-color: white;
  display: inline-block;
  margin-left: 15px;
  margin-right: 5px;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-top:0px; 
  img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .deleteButton{
    float: right;
    position: absolute; 
  }
}
.deleteButton:hover{
  width: 20px;
  height: 20px;
}

.hotel:hover
{
    cursor: pointer;
}

.textHotel
{
  padding-left: 15px;
  padding-top: 10px;
}

.textHotel:hover
{
  padding-left: 15px;
  padding-top: 10px;
}

ul{
  padding: 0px;
}

/*select{
   border: 2px solid blue;
}*/

.addButton{
  float: right;
  margin-right: 15px;
  background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.addButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: center;
}

tr:hover{
  cursor: pointer;
}
.changeModButton{
  margin-left: 15px;
  background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  
}

.changeModButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.tableView{
    margin-top: 20px;
  background-color: white;
  display: inline-block;
  margin-left: 15px;
  margin-right: 5px;
  padding-top:0px; 
}

.tableHead{
  background-color: blue;
  color: white
}



.arrows:hover{
  cursor: pointer;
   width: 20px;
    height: 20px;
}

#changeNameButton{
  float:right;
  width: 100px;
  height: 50px;
  margin-left: -5px; 
  background-color: blue; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.rowName{
  width: 250px;
}